body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(182, 132, 221);
    color: #333;
    margin: 0;
    padding: 0;
}

.header-class {
    background-color: #190931;
    display: flex;
    height: 50px;
    border-bottom: 1px solid #eeeeee;
    padding: 0.2rem;
    text-transform: uppercase;
    align-items: center;
}

.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item-menu {
    background-color: #190931;
    float: left;
}

.item-menu a {
    color: rgb(255, 255, 255);
    background-color: #190931;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.item-menu a:hover {
    background-color: rgb(178, 108, 235);
}

.container-tarjetas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    position: relative;
    top: 70px;
}

.container-tarjetas p{
    color: white;
    font-size: 20px;
}

.container-tarjetas h2 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.tarjetas {
    background: #190931;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 400px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tarjetas:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;

}

.tarjetas img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.tarjetas button {
    background-color: white;
    color: #190931;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.tarjetas button:hover {
    background-color: #8c0ac0;
    transition: 0.3s;
    color: white;
}


